@model IEnumerable<Students.Models.Student>

<div>
	<h3>Список студентов</h3>	
	<table>			
		<tr>
			<td><p>Имя</p></td>
			<td><p>Фамилия</p></td>
		</tr>
			
		@foreach (var student in Model)
		{
			<tr>
				<td><p>@student.Name</p></td>
				<td><p>@student.Surname</p></td>				
			</tr>
		}
	</table>
</div>